/* color text and font*/
@font-family: "Times New Roman", Georgia, Serif;

@text-size-desktop: 1em;
@text-size-tablet:0.9em;
@text-size-mobile:0.8em;


@text-size-header-desktop: 1.5em;
@text-size-header-tablet: 1.3em;
@text-size-header-mobile: 1.1em;

/* header */
@color-background-header:#071e2d;
@color-text-header:#fff;
@border-header: 3px solid #fff;
@color-button-header:rgba(255,255,255,0.2);
@color-button-hover-header:rgba(0,1,1,0.8);
@color-text-hover-button:#ccc;
@size-text-button: 0.9em;
@size-text-button-tablet:0.85em;
@size-text-button-mobile:0.8em;




/* body */
@size-arrow-desktop: 2em;
@size-arrow-tablet: 1.8em;
@size-arrow-mobile: 1.5em;

@size-w-page-desktop:733px;


@size-w-page-tablet:600px;


@size-w-page-mobile:92%;



/* footer */
@color-background-footer:#071e2d;

@color-circle: rgba(0,1,1,0.2);
@color-circle-hover-mobile: rgba(255,255,255,0.3);
@color-circle-hover: rgba(0,1,1,0.8);


@color-number: #fff;
@color-arrow-footer: #fff;

@size-number-desktop: 0.8em;
@size-number-tablet: 0.7em;
@size-number-mobile: 0.5em;

@size-arrow-footer: 1.5em;