@import "../source/core/scaffoldingCssMetrics";
@import "../source/core/scaffoldingInlineMetrics";
@import "../source/core/mediaQuery";
@import "config";


.HEADER {
  .cols();
  font-family: Helvetica Neue, Helvetica, Arial;

  .hic-content {
    .cell();
    .w(180px);

    .hic {
      padding: 10px 15px;
      border-radius: 5px;
      background-color: @color-button-header;
      a{
        font-size: @size-text-button;
      }

      &:hover {
        background-color: @color-button-hover-header;
        a {
          color: @color-text-hover-button;
        }
      }
    }
  }

  .logo-content {
    .flex();

    .hl7{
      a{
        cursor: context-menu;
      }
    }
  }
  .touch-content {
    .cell();
    .w(180px);

    .touch{
      padding: 10px 15px;
      border-radius: 5px;
      background-color: @color-button-header;
      a{
        font-size: @size-text-button;
      }

      &:hover {
        background-color: @color-button-hover-header;
        a {
          color: @color-text-hover-button;
        }
      }
    }
  }

  a:link, a:visited {
    text-decoration: none;
    color: @color-text-header;
    font-size: @text-size-header-desktop;
  }

  @media @onlyScreen and @tablet{
    a:link, a:visited {
      font-size: @text-size-header-tablet;
    }
    .hic-content {
      .hic {
        padding: 10px 15px;
        border-radius: 5px;
        background-color: @color-button-header;
        a {
          font-size: @size-text-button-tablet;
        }
      }
    }
    .touch-content {
      .touch{
        padding: 10px 15px;
        border-radius: 5px;
        background-color: @color-button-header;
        a {
          font-size: @size-text-button-tablet;
        }
      }
    }
  }

  @media @onlyScreen and @mobile{
    .hic-content {
      .cell();
      .w(90px);
      .hic {
        padding: 10px 15px;
        border-radius: 5px;
        background-color: @color-button-header;
        a {
          font-size: @size-text-button-mobile;
        }
      }

    }

    .touch-content {
      .cell();
      .w(110px);
      .touch{
        padding: 10px 15px;
        border-radius: 5px;
        background-color: @color-button-header;
        a {
          font-size: @size-text-button-mobile;
        }
      }
    }

    a:link, a:visited {
      font-size: @text-size-header-mobile;
    }
  }

}